html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  /* background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
}

body {
  background: linear-gradient(#7db9e8, #2989d8);
}

a {
  color: #00B7FF;
}

.navbar-nav{
  margin-left:auto;
}

.form-label {
  color: white;
  font-size:30px;
}
