html, body {
  min-height:100vh;
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  /* background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(#a3c4dd, #6aa2d0);
}

a {
  color: #00B7FF;
}

h1, h2 {
  color: white;
}

.navbar-nav{
  margin-left:auto;
}

.navbar {
  height:60px;
  font-weight: bold;
}

.form-label {
  color: white;
  font-size:30px;
}

#landmark {
  height:250px;
  width:auto;
}

.cstMarginTop {
  margin-top: 100px;
}

.card li {
  font-size:25px;
}

.card {
  height: 100px;
}

#footer {
  position:relative;
  bottom:0px;
  color: white
}
